img {
    width:100%;
    height:auto;
}
.mt-n10 {
    margin-top: -36px !important
}
.mt-n3 {
    margin-top: -1rem !important
}
.mb-n2 {
    margin-bottom: -.5rem !important
}
.mx-9 {
    margin-right: 20px !important;
    margin-left: 20px !important
}
.popover-body {
    background-color: rgba(29, 40, 53, .95);
}
.leadership-carousel .owl-nav {
    position: absolute;
    top: -98px;
    right: 0;
    display: flex;
    gap: 16px
}
.leadership-card {
    box-shadow: 0 12px 24px -4px rgba(145, 158, 171, .1215686275)
}
@media (max-width:991px) {
    .leadership-carousel .owl-nav {
        position: relative;
        top: 0;
        margin-top: 24px
    }
}

